@media (max-width:767px){
  .container{
    margin-right: 10%;
    margin-left: 10%;
  }

.col-xs-1 {
  width: 8.33333%
}

.col-xs-2 {
  width: 16.66667%
}

.col-xs-3 {
  width: 25%
}

.col-xs-4 {
  width: 33.33333%
}

.col-xs-5 {
  width: 41.66667%
}

.col-xs-6 {
  width: 50%
}

.col-xs-7 {
  width: 58.33333%
}

.col-xs-8 {
  width: 66.66667%
}

.col-xs-9 {
  width: 75%
}

.col-xs-10 {
  width: 83.33333%
}

.col-xs-11 {
  width: 91.66667%
}

.col-xs-12 {
  width: 100%
}

.col-xs-pull-0 {
  right: auto
}

.col-xs-pull-1 {
  right: 8.33333%
}

.col-xs-pull-2 {
  right: 16.66667%
}

.col-xs-pull-3 {
  right: 25%
}

.col-xs-pull-4 {
  right: 33.33333%
}

.col-xs-pull-5 {
  right: 41.66667%
}

.col-xs-pull-6 {
  right: 50%
}

.col-xs-pull-7 {
  right: 58.33333%
}

.col-xs-pull-8 {
  right: 66.66667%
}

.col-xs-pull-9 {
  right: 75%
}

.col-xs-pull-10 {
  right: 83.33333%
}

.col-xs-pull-11 {
  right: 91.66667%
}

.col-xs-pull-12 {
  right: 100%
}

.col-xs-push-0 {
  left: auto
}

.col-xs-push-1 {
  left: 8.33333%
}

.col-xs-push-2 {
  left: 16.66667%
}

.col-xs-push-3 {
  left: 25%
}

.col-xs-push-4 {
  left: 33.33333%
}

.col-xs-push-5 {
  left: 41.66667%
}

.col-xs-push-6 {
  left: 50%
}

.col-xs-push-7 {
  left: 58.33333%
}

.col-xs-push-8 {
  left: 66.66667%
}

.col-xs-push-9 {
  left: 75%
}

.col-xs-push-10 {
  left: 83.33333%
}

.col-xs-push-11 {
  left: 91.66667%
}

.col-xs-push-12 {
  left: 100%
}

.col-xs-offset-0 {
  margin-left: 0
}

.col-xs-offset-1 {
  margin-left: 8.33333%
}

.col-xs-offset-2 {
  margin-left: 16.66667%
}

.col-xs-offset-3 {
  margin-left: 25%
}

.col-xs-offset-4 {
  margin-left: 33.33333%
}

.col-xs-offset-5 {
  margin-left: 41.66667%
}

.col-xs-offset-6 {
  margin-left: 50%
}

.col-xs-offset-7 {
  margin-left: 58.33333%
}

.col-xs-offset-8 {
  margin-left: 66.66667%
}

.col-xs-offset-9 {
  margin-left: 75%
}

.col-xs-offset-10 {
  margin-left: 83.33333%
}

.col-xs-offset-11 {
  margin-left: 91.66667%
}

.col-xs-offset-12 {
  margin-left: 100%
}
  .container-left-links,
  .container-right-links,
  .container-right-top{
    display: none;
  }
  .logo img {
    width: 12vw;
    margin: 10%;
  }
  .hero-full-container .hero-full-wrapper .text-content{
    vertical-align: center;
  }

  .hero-full-container
  .hero-full-wrapper{
    height: 50vh;
    min-height: 50vh;
    
  }
  .section-header{
    font-size: 30px;
    
  }
  .project-img-responsive{
    display: none; 
  }
  .text-header{
    font-family: monospace;
    font-size:14px;
   
  }
  .text-name-header,
  .text-title-header,
  .text-strings-header{
    font-family: monospace;
    font-size:14px;
    margin-bottom: 20px;
  
  }
  .text-name,
  .text-title {
    font-family: 'Roboto';
    font-size:45px;
    line-height: 1em;
    
  }
  .text-strings{
    font-family: monospace;
    font-size:14px;
   
  }
  .about-content{
    text-align: center;
  }
  .project-header a{
    font-size: 30px;

  }
  .section-project-footer
  {
    display: flex;
    flex-direction: revert;
    justify-content: space-between;
    height: 3em;
  }
  .tech-stack-item{
    display: flex;
    flex-direction: row;
    justify-content: right;
  }
  .tech-stack-item li{
    list-style: none;
    padding: 0 10px;
    color: #fff;
    border-right: 1px solid rgb(64 194 50);
    font-size: 16px;
  }
  .navbar-contact-link-icon{
    color: rgb(64 194 50);
        font-size: 24px;
      margin-bottom: 1em;
   
  }
  .skills-item {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .skills-item .row{
  margin:0 20px;
  }

  .skills-item p{
    border: 1px solid #37dc01;
    width: 100%;
    text-align: center;
    padding: 0 20px;
  }
  .section-skills{
    margin-top: 5em;
  }
  .section-container-spacer{
    margin: 0;
   
  }

  .section-about{
    margin-top: 5em;
  }
  .background-image-container{
    margin-bottom: 5em;
  }
  .navbar-inverse .navbar-toggle {
    padding: 20px;
    margin: 2em;
    border: none;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10;
    background-color: transparent;
  }
  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0
  }
  
  .sr-only-focusable:active,
  .sr-only-focusable:focus {
    position: static;
    width: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    clip: auto
  }
  .navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    margin-top: 5px;
  }
  .navbar-inverse .navbar-toggle .icon-bar {
    background-color: rgb(255 255 255 / 77%);
}
.navbar-toggle{
  float: right;
  border-radius: 0;
}
.navbar-inverse .navbar-collapse{
  background-color: #000;
}
.navbar-default .navbar-collapse, .navbar-inverse .navbar-collapse {
  margin: 0;
  box-shadow: none;
}
.navbar-inverse .navbar-collapse{
  border-color: transparent;
}
.navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse {
  max-height: 340px;
}
.navbar-collapse {
  overflow-x: visible;
  padding-right: 15px;
  padding-left: 15px;
  border-top: 1px solid transparent;

}
.collapse {
  display: none;
}
.navbar-default .navbar-collapse .navbar-nav, .navbar-inverse .navbar-collapse .navbar-nav {
  padding: 20px;

}
.navbar-nav {
  margin: 0.25px -15px;
}
.nav{
  list-style: none;
}
.navbar-fixed-bottom, .navbar-fixed-top {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
}
.navbar-nav  li a{
  color:rgb(255 255 255 / 77%);
}
.navbar .container{
  margin: 0;
}
 .in{
  color:#000;
}
.footer-contact-links{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 5em;
  padding: 0;
}
.footer-contact-links li{
  text-decoration: none;
  list-style: none;
  color:#37dc01;
  margin: 0 10px;
}
.footer-contact-link-icon {
  color: rgb(64 194 50);
  font-size: 24px;
  margin-bottom: 1em;
}
.footer-container span{
color: red;
font-size: 20px;
}
.contact-content{
  margin-top: 5em;
  padding: 0 40px;
}
.section-contact{
  float: none;
}
}

@media (min-width:768px) {
  .container{
    margin-right: 10%;
    margin-left: 10%;
  }
  .card-container {
    background-color: #2c2929;
    padding: 2rem 5rem;
    position: relative;
    width: 90%;
    margin: -3em -4px 8em 3em;
    padding: 2rem;
    margin-top: -5em
  }
  .logo img{
    width: 12vw;
    margin: 8%;
  }
  .navbar-contact-link-icon{
    font-size: 19px;
    color:#37dc01
  }
  
  .list-icons {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden
  }
  
  .list-icons li {
    float: left;
    margin-right: 5px
  }

  
  .tech-stack-item{
    display: flex;
    flex-direction: row;
    justify-content: right;
  }
  
  .tech-stack-item li{
    list-style: none;
    padding: 0 10px;
    color: #fff;
    border-right: 1px solid rgb(64 194 50);
    font-size: 16px;
  }
  .tech-stack-item li:last-child{
    border-right:none;
    }
  
    .section-contact{
      color: #fff;
    }
  
    .section-contact i{
      color: rgb(64 194 50);
    }
  .footer-container span{
    color: red;
    font-size: 20px;
  }
  
  .footer-list{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  .section-project-footer
  {
    display: flex;
    flex-direction: revert;
    justify-content: space-between;
    height: 3em;
  }
  

  

  
  .project-row header{
    height: 100%;
    width: 100%;
    /* background:linear-gradient(rgba(56, 220, 0, 0.1),rgba(56, 220, 0, 0.1)); */
    overflow: hidden;
  }
  .project-row header:hover{
    background: none;
  }
  
  
  .project-row header img{
    object-fit: cover;
    opacity: 1;
    width: 100%; 
  }
  
  .project-row header img:hover{
    opacity: 1;
  }
  
  .text-header{
    font-family: monospace;
    font-size:18px;
    color:rgb(255 255 255 / 77%)
  }
  
  .text-name-header,
  .text-title-header,
  .text-strings-header{
    font-family: monospace;
    font-size:18px;
    margin-bottom: 20px;
    color:rgb(255 255 255 / 77%)
  }
  
  .text-name,
  .text-title {
    font-family: 'Roboto';
    font-size:60px;
    color:rgb(255 255 255 / 77%);
  }
  
  .text-name span,
  .text-title span {
  color:rgb(64 194 50);
  font-size: 75px;
  }
  
  .text-strings{
    font-family: monospace;
    font-size:18px;
    color:rgb(255 255 255 / 77%)
  }
  .logo img{
    width: 75px;
  }
  
  .section-header{
    color:rgb(255 255 255 / 77%);
    font-size: 60px;
    margin-bottom: 50px;
  }
  .section-about p{
    color:rgb(255 255 255 / 77%);
    font-size: 16px;
    text-align: center;
  }
  .skills-item p{
    border: 1px solid #37dc01;
    width: 100%;
    text-align: center;
    padding: 0 20px;
  }
  .skills-item {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .skills-item .row{
    display: flex;
    flex-direction: row;
    margin: 0 10px;
   
  }
  .project-header a {
    color:rgb(255 255 255 / 77%);
    font-size: 40px;
    padding: 0 30px;
    text-decoration: none;
  }
  
  .about-content{
    margin-bottom: 100px;
  }
  .project-content{
    font-size: 14px;
    color:rgb(255 255 255 / 77%);
  }
  .contact-content{
    font-size: 16px;
    color:rgb(255 255 255 / 77%);
  }
  
  .white-text-container a:hover, .container-right-top a:hover  {
    background-color:#37dc01;
    border: none;
  }

  .section-container:first-of-type {
    padding-top: 30px
  }

  .h2:after,
  .h2:before,
  h2:after,
  h2:before {
    display: none
  }
  .address-container {
    margin-top: 20px
  }
 
  .card-container.card-container-lg {
    width: 95%;
    padding: 2rem 3em;
    margin-top: -10em
  }
  .col-sm-1,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12 {
    float: left
  }

  .col-sm-1 {
    width: 8.33333%
  }

  .col-sm-2 {
    width: 16.66667%
  }

  .col-sm-3 {
    width: 25%
  }

  .col-sm-4 {
    width: 33.33333%
  }

  .col-sm-5 {
    width: 41.66667%
  }

  .col-sm-6 {
    width: 50%
  }

  .col-sm-7 {
    width: 58.33333%
  }

  .col-sm-8 {
    width: 66.66667%
  }

  .col-sm-9 {
    width: 75%
  }

  .col-sm-10 {
    width: 83.33333%
  }

  .col-sm-11 {
    width: 91.66667%
  }

  .col-sm-12 {
    width: 100%
  }

  .col-sm-pull-0 {
    right: auto
  }

  .col-sm-pull-1 {
    right: 8.33333%
  }

  .col-sm-pull-2 {
    right: 16.66667%
  }

  .col-sm-pull-3 {
    right: 25%
  }

  .col-sm-pull-4 {
    right: 33.33333%
  }

  .col-sm-pull-5 {
    right: 41.66667%
  }

  .col-sm-pull-6 {
    right: 50%
  }

  .col-sm-pull-7 {
    right: 58.33333%
  }

  .col-sm-pull-8 {
    right: 66.66667%
  }

  .col-sm-pull-9 {
    right: 75%
  }

  .col-sm-pull-10 {
    right: 83.33333%
  }

  .col-sm-pull-11 {
    right: 91.66667%
  }

  .col-sm-pull-12 {
    right: 100%
  }

  .col-sm-push-0 {
    left: auto
  }

  .col-sm-push-1 {
    left: 8.33333%
  }

  .col-sm-push-2 {
    left: 16.66667%
  }

  .col-sm-push-3 {
    left: 25%
  }

  .col-sm-push-4 {
    left: 33.33333%
  }

  .col-sm-push-5 {
    left: 41.66667%
  }

  .col-sm-push-6 {
    left: 50%
  }

  .col-sm-push-7 {
    left: 58.33333%
  }

  .col-sm-push-8 {
    left: 66.66667%
  }

  .col-sm-push-9 {
    left: 75%
  }

  .col-sm-push-10 {
    left: 83.33333%
  }

  .col-sm-push-11 {
    left: 91.66667%
  }

  .col-sm-push-12 {
    left: 100%
  }

  .col-sm-offset-0 {
    margin-left: 0
  }

  .col-sm-offset-1 {
    margin-left: 8.33333%
  }

  .col-sm-offset-2 {
    margin-left: 16.66667%
  }

  .col-sm-offset-3 {
    margin-left: 25%
  }

  .col-sm-offset-4 {
    margin-left: 33.33333%
  }

  .col-sm-offset-5 {
    margin-left: 41.66667%
  }

  .col-sm-offset-6 {
    margin-left: 50%
  }

  .col-sm-offset-7 {
    margin-left: 58.33333%
  }

  .col-sm-offset-8 {
    margin-left: 66.66667%
  }

  .col-sm-offset-9 {
    margin-left: 75%
  }

  .col-sm-offset-10 {
    margin-left: 83.33333%
  }

  .col-sm-offset-11 {
    margin-left: 91.66667%
  }

  .col-sm-offset-12 {
    margin-left: 100%
  }
  .container-left-links, .container-right-links, .container-right-top{
    display: none;
  }

  .navbar-inverse .navbar-toggle {
    padding: 20px;
    margin: 4em;
    border: none;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10;
    background-color: transparent;
  }
  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0
  }
  
  .sr-only-focusable:active,
  .sr-only-focusable:focus {
    position: static;
    width: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    clip: auto
  }
  .navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    margin-top: 5px;
  }
  .navbar-inverse .navbar-toggle .icon-bar {
    background-color: rgb(255 255 255 / 77%);
}
.navbar-toggle{
  float: right;
  border-radius: 0;
}
.navbar-inverse .navbar-collapse{
  background-color: #000;
}
.navbar-default .navbar-collapse, .navbar-inverse .navbar-collapse {
  margin: 0;
  box-shadow: none;
}
.navbar-inverse .navbar-collapse{
  border-color: transparent;
}
.navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse {
  max-height: 340px;
}
.navbar-collapse {
  overflow-x: visible;
  padding-right: 15px;
  padding-left: 15px;
  border-top: 1px solid transparent;

}
.collapse {
  display: none;
}
.navbar-default .navbar-collapse .navbar-nav, .navbar-inverse .navbar-collapse .navbar-nav {
  padding: 20px;

}
.navbar-nav {
  margin: 0.25px -15px;
}
.nav{
  list-style: none;
}
.navbar-fixed-bottom, .navbar-fixed-top {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
}
.navbar-nav  li a{
  color:rgb(255 255 255 / 77%);
      font-size: 18px;
}
.navbar .container{
  margin: 0;
}
 .in{
  color:#000;
}

.footer-contact-links{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 5em;
  padding: 0;
}
.footer-contact-links li{
  text-decoration: none;
  list-style: none;
  color:#37dc01;
  margin: 0 10px;
}
.footer-contact-link-icon {
  color: rgb(64 194 50);
  font-size: 24px;
  margin-bottom: 1em;
}
.footer-container span{
color: red;
font-size: 20px;
}
.contact-content{
  margin-top: 5em;
  padding: 0 40px;
}
}

@media (min-width:992px) {
  .container {
    width: 970px
  }
  .card-container{
    margin: -4em 0em 9em 4em;
  }
  .section-container {
    float: none; 
}
  .h2,
  h2 {
    padding: 0 30px
  }
  .col-md-1,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-10,
  .col-md-11,
  .col-md-12 {
    float: none
  }

  .col-md-1 {
    width: 8.33333%
  }

  .col-md-2 {
    width: 16.66667%
  }

  .col-md-3 {
    width: 25%
  }

  .col-md-4 {
    width: 33.33333%
  }

  .col-md-5 {
    width: 41.66667%
  }

  .col-md-6 {
    width: 50%
  }

  .col-md-7 {
    width: 58.33333%
  }

  .col-md-8 {
    width: 66.66667%
  }

  .col-md-9 {
    width: 75%
  }

  .col-md-10 {
    width: 83.33333%
  }

  .col-md-11 {
    width: 91.66667%
  }

  .col-md-12 {
    width: 100%
  }

  .col-md-pull-0 {
    right: auto
  }

  .col-md-pull-1 {
    right: 8.33333%
  }

  .col-md-pull-2 {
    right: 16.66667%
  }

  .col-md-pull-3 {
    right: 25%
  }

  .col-md-pull-4 {
    right: 33.33333%
  }

  .col-md-pull-5 {
    right: 41.66667%
  }

  .col-md-pull-6 {
    right: 50%
  }

  .col-md-pull-7 {
    right: 58.33333%
  }

  .col-md-pull-8 {
    right: 66.66667%
  }

  .col-md-pull-9 {
    right: 75%
  }

  .col-md-pull-10 {
    right: 83.33333%
  }

  .col-md-pull-11 {
    right: 91.66667%
  }

  .col-md-pull-12 {
    right: 100%
  }

  .col-md-push-0 {
    left: auto
  }

  .col-md-push-1 {
    left: 8.33333%
  }

  .col-md-push-2 {
    left: 16.66667%
  }

  .col-md-push-3 {
    left: 25%
  }

  .col-md-push-4 {
    left: 33.33333%
  }

  .col-md-push-5 {
    left: 41.66667%
  }

  .col-md-push-6 {
    left: 50%
  }

  .col-md-push-7 {
    left: 58.33333%
  }

  .col-md-push-8 {
    left: 66.66667%
  }

  .col-md-push-9 {
    left: 75%
  }

  .col-md-push-10 {
    left: 83.33333%
  }

  .col-md-push-11 {
    left: 91.66667%
  }

  .col-md-push-12 {
    left: 100%
  }

  .col-md-offset-0 {
    margin-left: 0
  }

  .col-md-offset-1 {
    margin-left: 8.33333%
  }

  .col-md-offset-2 {
    margin-left: 16.66667%
  }

  .col-md-offset-3 {
    margin-left: 25%
  }

  .col-md-offset-4 {
    margin-left: 33.33333%
  }

  .col-md-offset-5 {
    margin-left: 41.66667%
  }

  .col-md-offset-6 {
    margin-left: 50%
  }

  .col-md-offset-7 {
    margin-left: 58.33333%
  }

  .col-md-offset-8 {
    margin-left: 66.66667%
  }

  .col-md-offset-9 {
    margin-left: 75%
  }

  .col-md-offset-10 {
    margin-left: 83.33333%
  }

  .col-md-offset-11 {
    margin-left: 91.66667%
  }

  .col-md-offset-12 {
    margin-left: 100%
  }
}



@media (min-width:1200px) {

  .container {
    width: auto;
    margin-right: 20%;
    margin-left: 20%;
  }
  .section-container-spacer {
    margin-bottom: 40px
  }
  .section-container {
    padding: 50px 0
  }
  .col-lg-1,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12 {
    float: none;
  }

  .col-lg-1 {
    width: 8.33333%
  }

  .col-lg-2 {
    width: 16.66667%
  }

  .col-lg-3 {
    width: 25%
  }

  .col-lg-4 {
    width: 33.33333%
  }

  .col-lg-5 {
    width: 41.66667%
  }

  .col-lg-6 {
    width: 50%
  }

  .col-lg-7 {
    width: 58.33333%
  }

  .col-lg-8 {
    width: 66.66667%
  }

  .col-lg-9 {
    width: 75%
  }

  .col-lg-10 {
    width: 83.33333%
  }

  .col-lg-11 {
    width: 91.66667%
  }

  .col-lg-12 {
    width: 100%
  }

  .col-lg-pull-0 {
    right: auto
  }

  .col-lg-pull-1 {
    right: 8.33333%
  }

  .col-lg-pull-2 {
    right: 16.66667%
  }

  .col-lg-pull-3 {
    right: 25%
  }

  .col-lg-pull-4 {
    right: 33.33333%
  }

  .col-lg-pull-5 {
    right: 41.66667%
  }

  .col-lg-pull-6 {
    right: 50%
  }

  .col-lg-pull-7 {
    right: 58.33333%
  }

  .col-lg-pull-8 {
    right: 66.66667%
  }

  .col-lg-pull-9 {
    right: 75%
  }

  .col-lg-pull-10 {
    right: 83.33333%
  }

  .col-lg-pull-11 {
    right: 91.66667%
  }

  .col-lg-pull-12 {
    right: 100%
  }

  .col-lg-push-0 {
    left: auto
  }

  .col-lg-push-1 {
    left: 8.33333%
  }

  .col-lg-push-2 {
    left: 16.66667%
  }

  .col-lg-push-3 {
    left: 25%
  }

  .col-lg-push-4 {
    left: 33.33333%
  }

  .col-lg-push-5 {
    left: 41.66667%
  }

  .col-lg-push-6 {
    left: 50%
  }

  .col-lg-push-7 {
    left: 58.33333%
  }

  .col-lg-push-8 {
    left: 66.66667%
  }

  .col-lg-push-9 {
    left: 75%
  }

  .col-lg-push-10 {
    left: 83.33333%
  }

  .col-lg-push-11 {
    left: 91.66667%
  }

  .col-lg-push-12 {
    left: 100%
  }

  .col-lg-offset-0 {
    margin-left: 0
  }

  .col-lg-offset-1 {
    margin-left: 8.33333%
  }

  .col-lg-offset-2 {
    margin-left: 16.66667%
  }

  .col-lg-offset-3 {
    margin-left: 25%
  }

  .col-lg-offset-4 {
    margin-left: 33.33333%
  }

  .col-lg-offset-5 {
    margin-left: 41.66667%
  }

  .col-lg-offset-6 {
    margin-left: 50%
  }

  .col-lg-offset-7 {
    margin-left: 58.33333%
  }

  .col-lg-offset-8 {
    margin-left: 66.66667%
  }

  .col-lg-offset-9 {
    margin-left: 75%
  }

  .col-lg-offset-10 {
    margin-left: 83.33333%
  }

  .col-lg-offset-11 {
    margin-left: 91.66667%
  }

  .col-lg-offset-12 {
    margin-left: 100%
  }
  .footer-contact-links{
    display: none;
  }

.card-container {
  background-color: #2c2929;
  padding: 2rem 5rem;
  position: relative;
  width: 60%;
  margin: -10% 0 10% 45%;
}
.navbar-contact-link-icon {
  color: rgb(255 255 255 / 77%);
  font-size: 18px;
}
.navbar-contact-link-icon:hover{
  color:rgb(64 194 50);
}
.navbar-nav-links li a:hover{
  color:rgb(64 194 50);
}
.navbar{
  display: none;
}

.container-left{
  
  width: 40px;
  position: fixed;
  top: 4em;
  left: 6em;
  right: auto;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: start;

  
}
.container-right{
 
  width: 40px;
  position: fixed;
  top: 4em;
  right: 8em;
  left: auto;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.container-right-links{
  display: block;
  bottom: 0;
  position: fixed;
}
.navbar-nav-links::after{
    content: "";
    display: block;
    width: 1px;
    height: 90px;
    background-color:rgb(64 194 50);
}
.navbar-nav-links li{
 list-style: none;
 margin: 2em 0;

}
.navbar-nav-links li a{
  font-size: 18px;
  color:rgb(255 255 255 / 77%);
  font-family: monospace;
  text-decoration: none;
}
.navbar-contact-links::after{
      content: "";
      display: block;
      width: 1px;
      height: 90px;
      background-color:rgb(64 194 50);
  }
  .navbar-contact-links li{
   list-style: none;
   margin: 2em 0;
  
  }
  .navbar-contact-links li a{
    font-size: 20px;
    color:rgb(255 255 255 / 77%);
  }

.container-left-links{
  display: block;
  bottom: 0;
  position: fixed;
}
.project-row header img {
  object-fit: cover;
  opacity: 0.6;
  width: 100%;

}
.project-row header{
  height: 100%;
  width: 75%;
   background: linear-gradient(rgba(56, 220, 0, 0.1),rgba(56, 220, 0, 0.1));
}
.project-row header:hover{
  background:none;
}
}







